Package: com.moski.Divise
Name: Divisé
Version: 1.0.1
Architecture: iphoneos-arm
Description: arm64 Dualboots/Tethered Downgrades on device!
Maintainer: moski, Samg_is_a_Ninja
Author: moski, Samg_is_a_Ninja
Section: Utilities
Depends: firmware (>= 11.0.0), firmware-sbin, rsync, cy+cpu.arm64
Icon:file:///Applications/Divisé.app/AppIcon60x60@3x.png
